
.button {
    -fx-background-color: linear-gradient(#e4e4e4, #d6d6d6);
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #a1a1a1;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 3, 0.0, 1, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#d6d6d6, #c4c4c4);
    -fx-border-color: #a1a1a1;
}

.button:focused {
    -fx-background-color: linear-gradient(#d6d6d6, #c4c4c4);
    -fx-border-color: #a1a1a1;
}

.button:pressed {
    -fx-background-color: linear-gradient(#c4c4c4, #b0b0b0);
    -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.2), 3, 0.0, 1, 1);
}

.button:disabled {
    -fx-opacity: 1;
    -fx-font-weight: bold;
    -fx-border-color: black;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #a1a1a1;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 3, 0.0, 1, 1);
}

.label {
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.title {
    -fx-text-fill: #000000;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.text {
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.root {
    -fx-background-color: #e7e7e7;
}

